.redes__icones {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0rem 0rem 0rem;
}

.redes__img {
    margin: 1rem;
    width: 3rem;
}

.redes__img:hover {
    transform: scale(0.9);
}

ul {
  padding-left: 1rem;
}

@media screen and (max-width: 768px) {
    .redes__img {
        margin: 1rem;
        width: 2.1rem;
    }
}
 